body {
    background-color: black;
}

.mainHead {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.icons {
    border: solid white 5px;
    border-radius: 125px;
}

.navBar {
    margin: 10px;
    list-style: none;
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
}

.tvNewsPage, .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

.headlines {
    color: white;
    font-family: 'Kanit', sans-serif;
    align-content: center;
    font-weight: lighter;
}

.quotes {
    text-align: center;
    font-size: 18px;
    font-family: 'Catamaran', sans-serif;
    color: white;
}

.sources {
    font-size: 18px;
    color: white;
    font-family: 'Catamaran', sans-serif;
    align-content: right;
}

iframe {
    margin: 15px;
    border: solid white 7px;
    border-radius: 20px;
}

.vidAndDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details {
    color: white;
}

/* .musicPage {
    display: flex;
    flex-direction: column;
    align-items: center; 
} */