body {
    background-color: black;
}

.mainHead {
    font-family: 'Permanent Marker', cursive;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    -webkit-text-stroke: 3px white;
    color: #black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.navBar {
    color: #59f442;
    font-family: 'Bungee', cursive;
    margin: 10px;
    list-style: none;
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
}

.navWrapper {
    margin-bottom: 50px;
    margin-top: -40px;
}

li:hover {
    cursor: pointer;
}

.tvNewsPage, .musicPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headlines {
    color: white;
    font-family: 'Bungee', cursive;
    align-content: center;
    font-weight: lighter;
}

.quotes {
    font-family: 'Waiting for the Sunrise', cursive;
    color: white;
}

.sources {
    color: white;
    font-family: 'Waiting for the Sunrise', cursive;
    align-content: right;
}

iframe {
    margin: 15px;
    border: solid white 7px;
    border-radius: 20px;
}

/* .musicPage {
    display: flex;
    flex-direction: column;
    align-items: center; 
} */