<div class = "homeWrapper">
    <div class = "homeImages">
        
    </div>
    <div class = "homeText">
        <h2>What is the Fat Earth Society?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Etiam ultrices scelerisque nibh, sit amet facilisis lorem aliquet id.
            Sed et eros ac nulla tincidunt finibus ac quis nunc. Praesent laoreet 
            tellus lorem, at hendrerit dui luctus nec. In fringilla facilisis quam 
            sit amet vehicula. Quisque lobortis enim nulla, vitae suscipit velit 
            hendrerit ut. Maecenas vehicula mollis lorem, id tincidunt odio cursus non.
            Nulla in ante tortor. Vestibulum sed iaculis ipsum, nec congue magna. 
            Maecenas sit amet ante at est consectetur dignissim. Donec quis odio laoreet, 
            pulvinar tortor sed, venenatis tortor. In ultricies non risus ac euismod.
        </p>
    </div>
</div>